body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.button {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    transition: background-color 0.3s;
}

.button1 {
    background-color: #1c797c;
}

.button1:hover {
    background-color: #45a049;
}

.button2 {
    background-color: #008cba;
}

.button2:hover {
    background-color: #0077a7;
}

label {
    display: block;
}

input {
    display: block;
}

.wrapper {
    margin: auto;
    margin-top: 48px;
    width: 80%;
}

.wrapper header {
    margin-bottom: 32px;
}

.wrapper header * {
    text-align: center;
}

.wrapper header h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.wrapper header p {
    font-size: 1rem;
    margin-bottom: 16px;
}

#best-in-market {
    color: #818181;
    text-transform: uppercase;
    font-weight: 500;
}

#logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgb(167, 167, 167);
    padding: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    margin-top: 16px;
    box-shadow: 8px 8px 4px #ccc;
}

#bills {
    margin-top: 64px;
}

#bills * {
    margin: 0 auto;
    text-align: center;
}

#bills h1 {
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 32px;
}

#add-bill,
#login-form,
#registration-form,
#add-user-to-group {
    width: 50%;
    margin: 0 auto;
}

#add-bill *,
#login-form *,
#registration-form *,
#add-user-to-group * {
    text-align: left;
    width: 100%;
}

#add-bill h1,
#login-form h1,
#registration-form h1,
#add-user-to-group h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 24px;
}

#add-bill input,
#login-form input,
#registration-form input,
#add-user-to-group input {
    height: 24px;
    margin-bottom: 16px;
    border: 1px solid rgb(192, 192, 192);
}

#add-bill label,
#login-form label,
#registration-form label,
#add-user-to-group label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
}

#submit-bill,
#login-button,
#register-button,
#submit-user-to-group {
    padding: 8px 0 8px 0;
    font-weight: bold;
    border: 2px solid black;
    width: 20%;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 32px;
    background-color: #fff;
}

#register-button {
    width: 30%;
}

#groups-container {
    padding: 0 16px 0 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -24px 0 0 0;
    margin-bottom: 96px;
}

/* #groups-container:after {
    content: '';
    flex-grow: 25;
} */

.group-card {
    text-align: center;
    width: 150px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 24px;
    gap: 16px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 32px 48px 32px 48px;
}

.group-id {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 16px;
}

.group-name {
    font-size: 16px;
    color: #818181;
}

#table-main {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 48px;
}

#table-main * {
    margin: 0 auto;
}

#table-main th {
    padding: 8px 24px;
    text-align: left;
    font-weight: bold;
}

#table-main td {
    padding: 8px 24px;
    text-align: left;
}

#table-main tr:nth-child(even) {
    background-color: #e2e2e2;
}

#select-group-heading {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 96px;
}
